[Desktop Entry]
Type=zomando
Icon=/usr/share/banners/lliurex-neu/zero-lliurex-kdeconnect-disabler.png
NoDisplay=true
Name=zero-lliurex-kdeconnect-disabler
